<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MovieZone</title>

  <link rel="stylesheet" href="/css/header.css">
   <link rel="stylesheet" href="/css/banner.css">
   <link rel="stylesheet" href="/css/featured.css">
   <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/card.css">



 
   
</head>

<body>

<%- include("common/header") %>
 
 <section class="banner">
  <div class="banner-overlay"></div>

  <div class="banner-content">
    <h1> Welcome to <span>MovieZone</span></h1>
    <p>Discover, manage & showcase your favorite movies in one place</p>

    <div class="banner-buttons">
      <a href="/add-movie" class="banner-btn primary"> Add Movie</a>
      <a href="#movies" class="banner-btn secondary"> View Movies</a>
    </div>
  </div>
</section>



<section class="featured">
  <h2> Featured Movies</h2>

  <div class="featured-list">
    <div class="featured-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfXv0QAVmvH_hQncUlDDOckszs6Cx_KxZREw&s">
      <h4>Top Rated</h4>
    </div>

    <div class="featured-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRErThbWcWxOGOiWKKgvqseqOZ6EBvANk-nzA&s">
      <h4>New Release</h4>
    </div>

    <div class="featured-card">
      <img src="https://preview.redd.it/57-movies-57-golden-years-which-are-your-top-3-v0-srnc2ev5bqx91.jpg?width=640&crop=smart&auto=webp&s=ca7a29c21c013929ebbf99a77e1b07281eca44d3">
      <h4>Trending</h4>
    </div>
  </div>
</section>




<h2>All Movies</h2>

<% if (movies.length === 0) { %>
  <p style="text-align:center;">No movies found</p>
<% } else { %>

<ul class="movie-list">
  <% movies.forEach(movie => { %>
    <li class="movie-card">

      <img 
        src="<%= movie.poster || '/images/no-image.png' %>" 
        alt="<%= movie.title %>" 
        class="movie-poster"
      >

      <div class="movie-title"><%= movie.title %></div>
      <div class="movie-genre"><%= movie.genre %></div>
       <div class="movie-language"><%= movie.language %></div>

      <div class="movie-desc">
        <%= movie.description || "No description available" %>
      </div>

      <div class="movie-actions">
        <a href="/movies-edit/<%= movie._id %>" class="btn btn-edit">Edit</a>
        <a href="/movies-delete/<%= movie._id %>" 
           class="btn btn-delete"
           onclick="return confirm('Are you sure?')">Delete</a>
      </div>

    </li>
  <% }) %>
</ul>

<% } %>

<%- include("common/footer") %>

</body>
</html>
